.category-header-block {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 30px;
    padding-bottom: 15px;
    border-bottom: 2px solid #e0e0e0;
}

.category-header-block h2 {
    font-size: 24px;
    color: #333;
    margin: 0;
}

.category-header-block h2 span {
    color: #8F4738;
    font-weight: 700;
}

/* Tombol Kembali */
.btn-back {
    display: inline-flex;
    align-items: center;
    gap: 8px;
    text-decoration: none;
    color: #555;
    font-weight: 500;
    padding: 8px 15px;
    border-radius: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    transition: 0.3s;
}

.btn-back:hover {
    background-color: #8F4738;
    color: white;
    border-color: #8F4738;
}

.pagination-wrapper {
    margin-top: 40px;
    display: flex;
    justify-content: center;
}

nav[role="navigation"] {
    display: flex;
    justify-content: center;
}

.pagination-wrapper svg {
    width: 20px;
}

.pagination-wrapper .page-link {
    color: #8F4738;
    padding: 10px 15px;
    text-decoration: none;
    border: 1px solid #ddd;
    margin: 0 5px;
    border-radius: 5px;
}

.pagination-wrapper .active .page-link {
    background-color: #8F4738;
    color: white;
    border-color: #8F4738;
}