*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.container{
    display:flex;
    height: 85vh;
}

.left-section{
    width: 20%;
    /* height: 80%; */
    background-color: #8F4738;
}

.right-section{
    width: 80%;
    /* height: 80%; */
}

main, footer{
    background-color: #E7E5E3;
}

/* ============= LEFT SECTION =================== */

.logo img{
    width: 120px;
    height: auto;
    margin-left: 2rem
}

.side-bar{
    margin-left: 1rem;
}

.side-bar ul{
    list-style: none;
}

.side-bar li{
    margin-bottom: 2rem;
    color: #fff;
}

.list.active{
    font-weight: bold;
}

/* ============= RIGHT SECTION =================== */

.navbar{
    background-color: #8F4738;
}

/* .navbar-guest{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
    margin-right: 1.2rem;
    padding: 10px;
    color: #fff;
    height: 55px;
} */

.masuk, .daftar{
    text-decoration: underline;
}

/* ===== DROPDOWN PROFILE MENU ===== */
.profile-dropdown {
    position: relative;
    display: flex;
    align-items: center;
}

.profile-trigger {
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    padding: 5px 10px;
    background-color: #ad2e24;
}

.profile-trigger:hover {
    background-color: #f0f0f0;
}

.user-name {
    line-height: 1;
}

.account img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}

.dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    top: 60px;
    background-color: white;
    min-width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    border-radius: 8px;
    z-index: 1000;
    overflow: hidden;
}

.dropdown-content.open-menu {
    display: block;
}

.sub-item {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-size: 14px;
    transition: 0.2s;
    border: none;
    background: none;
    width: 100%;
    text-align: left;
    cursor: pointer;
    font-family: inherit;
}

.sub-item:hover {
    background-color: #f1f1f1;
    color: #ff6b6b;
}

.sub-item i {
    margin-right: 10px;
    width: 20px;
    text-align: center;
}

/* ===== */

.navbar-user {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 100%;
}

.account{
    display: flex;
    align-items: center;
    margin-right: 1rem;
}

.account img{
    width: 35px;
    height: 35px;
    border-radius: 60%;
}

.search{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
}

.search-label input{
    width: 389px;
    height: 50px;
    border-radius: 20px;
    cursor: text;
}

.search-label input::placeholder{
    text-align: center;
    color: #6c757d;
}

.fa-magnifying-glass{
    position: relative;
    left: -40px;
    color: #6c757d;
    cursor: pointer;
    color: #8F4738;
}


/* ========= FOOTER ==================== */


/* CSS TAUTAN CEPAT */

.f-container{
    border: 2px solid #8F473833;
    display: flex;
    justify-content: space-between;
    padding: 2rem;
}

.footer-col ul,menu {
    list-style: none;
}

.footer-col .title {
    font-weight: bold;
    margin-bottom: 0.8rem;
    color: #8F4738;
}

.footer-col ul li {
    margin-bottom: 0.5rem;
    color: #8F4738;
}

.footer-col i{
    font-size: 20px;
    color: #8F4738;
}

.footer-col a {
    text-decoration: underline;
    color: #000;
    size: 18px;
}

.media-social{
    margin-top: 70px;
}

/* Copyright */

.privacy h4,a{
    margin-bottom: 20px;
}

.privacy a{
    text-decoration: underline;
    color: #000;
}

.privacy h4{
    color: #8F4738;
}

.privacy p{
    margin-top: 20px;
    color: #000;
}