*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    background-color: #EBEBEB;
}

.container{
    display: flex;
    height: 100vh;
    overflow: auto;
}

.left-section, .right-section{
    width:50%;
}

/* ================================= */

.logo img{
    width: 160px;
    height: auto;
}

.image-food img{
    width: 586px;
    height: 550px;
    object-fit: cover;
    padding-left: 3rem;
    margin-left: 4rem;
}

/* ======================================== */

.tabs{
    display: flex;
    text-align: center;
    justify-content: center;
    gap: 50%;
    width: 100%;
    height: 15%;
    align-items: flex-end;
    border-bottom: 1px solid #A3A3A3;
}

.tab{
    line-height: 100%;
    font-size: 36px;
    font-weight: 600;
    color: #A3A3A3;
    cursor: pointer;
}

.tab.active{
    color: #99582a;
    border-bottom: 3px solid #99582a;
}

.form-box{
    display: flex;
    flex-direction: column;
    width: 90%;
    height: auto;
    margin: 1rem;
    gap: 0.7rem;

}

.form-register form{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 0.5rem;
}

.form-register form input{
    display: block;
    width: 586px;
    height: 40px;
    padding: 0.3rem;
    border-radius: 5px;
    border: 1px solid #bc6c25;
}

.formGroup{
    font-size: 24px;
    font-weight: 400;
}

.formGroup span{
    color: red;
    font-size: 14px;
}

.button-register button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 15px 8px 15px 8px;
    gap: 8px;
    font-size: 24px;
    background-color: #8F4738;
    border-color: #8F4738;
    border-radius: 5px;
    color: #fff;
}

.text-decs{
    font-weight: 400;
    font-size: 16px;
}

.alt-register{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    cursor: pointer;
}

.alt-register button{
    border-style: none;
    background: none;
}

.alt-register button img{
    width: 45px;
    height: 45px;
}